---
import { Alert } from "./alert";
import { Footer } from "./footer";

const { previewMode } = Astro.props;
---

<>
  <Alert previewMode={previewMode} client:load />
  <div class="min-h-screen">
    <main>
      <slot />
    </main>
  </div>
  <Footer />
</>